*.prefs
*.class
*.classpath
*.project
bin/AndroidManifest.xml
bin/classes.dex
bin/jarlist.cache
*.apk
bin/res/crunch/drawable-hdpi/add.png
bin/res/crunch/drawable-hdpi/album.png
bin/res/crunch/drawable-hdpi/bg.png
bin/res/crunch/drawable-hdpi/fod.png
bin/res/crunch/drawable-hdpi/ic_launcher.png
bin/res/crunch/drawable-hdpi/listbg.png
bin/res/crunch/drawable-hdpi/next_dark.png
bin/res/crunch/drawable-hdpi/pause_dark.png
bin/res/crunch/drawable-hdpi/play_dark.png
bin/res/crunch/drawable-hdpi/previous_dark.png
bin/res/crunch/drawable-hdpi/repeat_dark.png
bin/res/crunch/drawable-hdpi/shuffle_dark.png
bin/res/crunch/drawable-hdpi/shunxu_dark.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-xhdpi/ic_launcher.png
bin/res/crunch/drawable-xxhdpi/ic_launcher.png
bin/resources.ap_
gen/com/yuer/MusicPlayer/BuildConfig.java
gen/com/yuer/MusicPlayer/R.java
proguard-project.txt
bin/dexedLibs/android-support-v4-6d320fa474ec864d87d9837f1b7199b8.jar
bin/dexedLibs/android-support-v4-8698f5d361a7dde527d7bc5510abc8de.jar
bin/dexedLibs/android-support-v4-b53c293570f14cacb6fd195d7fcdd246.jar
bin/dexedLibs/android-support-v4-b98ae5d4c88b72c8e8851cea11f6d14e.jar
bin/dexedLibs/android-support-v4-fecc7fd1edeb8e951969a89ceebeb2b9.jar
bin/dexedLibs/annotations-1b43f01fa3f6896b575f98d34a054dd5.jar
bin/dexedLibs/annotations-271bb2a60eef5401fa2c383152240e32.jar