<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuer.MusicPlayer"
    android:versionCode="6"
    android:versionName="1.4.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        >
        <activity
            android:name="com.yuer.MusicPlayer.MusicPlayer"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.yuer.MusicPlayer.MusicList"
            android:theme="@android:style/Theme.NoTitleBar"/>
        
        <activity android:name="com.yuer.MusicPlayer.AddMusicFod"
            android:theme="@android:style/Theme.NoTitleBar"/>
        
        <activity android:name="com.yuer.MusicPlayer.Setting"
            android:theme="@android:style/Theme.NoTitleBar"/>
        
        <service android:name="com.yuer.MusicPlayer.lrc.LrcService"/>
    </application>

</manifest>
